<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free restauran catalogue for you">
  <meta name="theme-color" content="#DB0000"/>
  
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <title>Restaurant Catalogue</title>
</head>
<body>

  <a href="#maincontent" class="skip-link" tabindex="0">Skip to Content</a>

  <header class="app-bar">
    <div class="app-bar_menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar_brand">
      <h1 tabindex="0" >Resto</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar_navigation">
      <ul>
        <li>
            <a href="#/home" tabindex="0">Home</a>
        </li>
        <li>
            <a href="#/favorite" tabindex="0">Favorite</a>
        </li>
        
        <li>
            <a href="https://github.com/Audihezra21" tabindex="0">About</a>
        </li>
      </ul>
    </nav>
  </header>
  <section class="hero">
    <div class="content2" id="home">
      <h1>Restaurant Apps Starter Project</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis veniam similique totam, itaque sunt quasi dolorum.
    </div>
  </section>
  <main id="maincontent" tabindex="0">
  </main>

  <footer tabindex="0">
    <p>Copyright &#169; 2024 | Audia Hezra Destamerda</p>
  </footer>
  <pre-loading></pre-loading>
</body>
</html>